@media (max-width: 1300px) {
    /* <!--------------------------------------Nav-------------------------------------------> */

    nav .container .row .col:nth-of-type(3){
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        border-radius: 10px;  
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    nav:has(#NavMenu:checked) .container .row .col:nth-of-type(3){
        height: 400px;  
        padding: 20px;
    }

    /* <!--------------------------------------Home-------------------------------------------> */

    header .content .container .row [class*='col'] a{
        margin-right: 10px;
    }

    /* <!--------------------------------------Home-------------------------------------------> */

    /* <!--------------------------------------About-------------------------------------------> */

    /* <!--------------------------------------Services-------------------------------------------> */

    /* <!--------------------------------------Menu-------------------------------------------> */

    #Menu .content .tab-content .tab-pane ._card{
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    /* <!--------------------------------------Beans Coffee-------------------------------------------> */

    /* <!--------------------------------------Book-------------------------------------------> */

    /* <!--------------------------------------Footer-------------------------------------------> */

}

@media (min-width: 371px) and (max-width: 1300px) {
    /* <!--------------------------------------Nav-------------------------------------------> */

    /* <!--------------------------------------Home-------------------------------------------> */

    header .content .container .row [class*='col'] a{
        margin-right: 30px;
    }

    /* <!--------------------------------------About-------------------------------------------> */

    /* <!--------------------------------------Services-------------------------------------------> */

    /* <!--------------------------------------Menu-------------------------------------------> */

    /* <!--------------------------------------Beans Coffee-------------------------------------------> */

    /* <!--------------------------------------Book-------------------------------------------> */

    /* <!--------------------------------------Footer-------------------------------------------> */

}

@media (min-width: 577px) and (max-width: 1300px) {
    /* <!--------------------------------------Nav-------------------------------------------> */

    /* <!--------------------------------------Home-------------------------------------------> */

    /* <!--------------------------------------About-------------------------------------------> */

    /* <!--------------------------------------Services-------------------------------------------> */

    /* <!--------------------------------------Menu-------------------------------------------> */

    #Menu .content .tab-content .tab-pane ._card{
        width: 45%;
        margin: 0;
    }

    /* <!--------------------------------------Beans Coffee-------------------------------------------> */

    /* <!--------------------------------------Book-------------------------------------------> */

    /* <!--------------------------------------Footer-------------------------------------------> */

}

@media (min-width: 769px) and (max-width: 1300px) {
    /* <!--------------------------------------Nav-------------------------------------------> */

    /* <!--------------------------------------Home-------------------------------------------> */

    /* <!--------------------------------------About-------------------------------------------> */

    /* <!--------------------------------------Services-------------------------------------------> */

    /* <!--------------------------------------Menu-------------------------------------------> */

    #Menu .content .tab-content .tab-pane ._card{
        width: 30%;
    }

    /* <!--------------------------------------Beans Coffee-------------------------------------------> */

    /* <!--------------------------------------Book-------------------------------------------> */

    /* <!--------------------------------------Footer-------------------------------------------> */

}

@media (min-width: 992px) and (max-width: 1300px) {
    /* <!--------------------------------------Nav-------------------------------------------> */

    nav .container .row .col:nth-of-type(3){
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background-color: transparent;
        border-radius: 0; 
        height: fit-content;   
    }

    nav:has(#NavMenu:checked) .container .row .col:nth-of-type(3){
        height: fit-content;
        padding: 0;
    }

    /* <!--------------------------------------Home-------------------------------------------> */

    /* <!--------------------------------------About-------------------------------------------> */

    /* <!--------------------------------------Services-------------------------------------------> */

    /* <!--------------------------------------Menu-------------------------------------------> */

    #Menu .content .tab-content .tab-pane ._card{
        width: 23%;
    }

    /* <!--------------------------------------Beans Coffee-------------------------------------------> */

    /* <!--------------------------------------Book-------------------------------------------> */

    /* <!--------------------------------------Footer-------------------------------------------> */

}

@media (min-width: 1181px) and (max-width: 1300px) {
    /* <!--------------------------------------Nav-------------------------------------------> */

    /* <!--------------------------------------Home-------------------------------------------> */

    /* <!--------------------------------------About-------------------------------------------> */

    /* <!--------------------------------------Services-------------------------------------------> */

    /* <!--------------------------------------Menu-------------------------------------------> */

    /* <!--------------------------------------Beans Coffee-------------------------------------------> */

    /* <!--------------------------------------Book-------------------------------------------> */

    /* <!--------------------------------------Footer-------------------------------------------> */

}